{% extends 'AppCoder/padre.html' %}

{% block titulo %}

Este es nuestro plantel especializado
{% endblock %}

{% block contenido %}
<h1>Profesores</h1>
<p>Aqui va tenes info de los profesores</p>


<form action="{% url 'profesores' %}" method="POST">
    {% csrf_token %}
    <label for="">Nombre</label>
    <input type="text" name="nombre">
    <label for="">Apellido</label>
    <input type="text" name="apellido">
    <label for="">Email</label>
    <input type="email" name="email">
    <label for="">Profesion</label>
    <input type="text" name="profesion">
    <input type="submit">
</form>


{% endblock  %}
